<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="/js/ejs_production.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<script src="/js/DreamHelper.js"></script>

<div class="div_post">
	<div class="div_post_info">
		<table>
			<th>
				<div class="div_post_avatar">
					<%= img_tag(user.avatar) %>
				</div>
			</th>
			<th>
				<p class="div_post_comment">
					<span class="div_post_user_name"> 
						<a href="##"> <%= user.fullname %> </a> 
					</span>
					<span class="div_post_dream"><%= dream.text %></span>
				</p>
				<div class="div_post_time"><%= dream.created_at %></div>
			</th>
		</table>
	</div>
	<div class="div_post_progress">
		The jour ney has just began.
		<div class="div_post_progress_bar"></div>
	</div>
	<div class="div_post_image"> <img src="/images/Post_Image.png"/> </div>
	<div class="div_post_status">I want to make some art this way!</div>
	<div class="div_post_tags">
		<ul>
			<% var post_tags = ['#latte', '#art', '#coffee'] %>
			<% for (var i=0; i<post_tags.length; i++) { %> 
				<li> <%= post_tags[i] %> </li>
			<% } %>
		</ul>
	</div>
	<div class="div_post_like">
		<ul>
			<li>
				<div class="num_likes">1.2K</div>
				<div class="like_icon"><img src="/images/heart.png" onmouseover="this.src='/images/heart-hover.png'" onmouseout="this.src='/images/heart.png'"/></div>
			</li>
			<li>
				<div class="num_comments">2.4K</div>
				<div class="comment_icon"><img src="/images/comment.png" onmouseover="this.src='/images/comment-hover.png'" onmouseout="this.src='/images/comment.png'"/></div>
			</li>
			<li class="div_share">
				<div class="num_shares">2</div>
				<div class="share_icon">Me 2!</div>
			</li>
		</ul>
	</div>
	<div class="div_post_comments">
		<ul>
			<li>
				<div class="div_post_info">
					<table>
						<th><div class="div_post_avatar"></div> </th>
						<th>
							<p class="div_post_comment">
								<span class="div_post_user_name"> 
									<a href="##">Latte art shinobi</a> 
								</span> 
								<span class="div_post_dream">Shall I show u the secret scroll *fake log*hhhhhhhhhhhhhhhhhhh h h h h h h h h h h h h h h haksjfjasdfljsadlkfj sakdjf;laksjdf skdjflasj;df kjslkdf</span>
							</p>
							<div class="div_post_time">6 minutes ago</div>	
						</th>
					</table>
				</div>
			</li>
			<li>
				<div class="div_post_info">
					<table>
						<th><div class="div_post_avatar"></div> </th>
						<th>
							<p class="div_post_comment">
								<span class="div_post_user_name"> 
									<a href="##">Latte art lover</a> 
								</span> 
								<span class="div_post_dream">Show me some latter on, ok ^^~</span>
							</p>
							<div class="div_post_time">4 minutes ago</div>	
						</th>
					</table>
				</div>
			</li>
		</ul>
		<div class="div_write_comment">
			<form action="#" id="write_comment">
	    		<div class="wrapper" align="left">
			        <input type="text" id="comment" name="comment" placeholder="Write a comment..." />
			        <button type="button" id="postCmtBtn" name="comment" onclick="postBtnClick()">Post</button>
	    		</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	var sessionID=localStorage.getItem("sessionID");
	function postBtnClick() {
		var text = document.getElementById("comment").value;
		console.log("Comment text: " + text);
	}
</script>
